PORT="5800"
FRONTEND_URL="http://localhost:3000"
RPC_PROVIDER_URL="https://mainnet.base.org"

KYC_CONTRACT_ADDRESS=""
CHAIN_ID=""
ETHERSCAN_API_KEY=""
WALLET_PUBLIC=""
WALLET_PRIVATE=""

KEYSTORE_PASSWORD=""
